@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
.NavBar{
    height: 55px;
    width: 100%;
    background-color: #F55A5A;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}